@import (reference, less) "~@/assets/less/ant";

.help-trigger {
  font-size: 15px;

  &:hover {
    cursor: pointer;
  }
}

.help-drawer {
  .ant-drawer-body {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .drawer-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 0;
  }

  .drawer-menu {
    position: sticky;
    z-index: 1;
    top: 0;
    align-self: flex-end;
    margin: 10px 10px 0 0;
    border-radius: 3px;
    background: var(--rd-color-surface);
    border: 1px solid var(--rd-color-divider);
    display: flex;

    a,
    .plain-button {
      height: 26px;
      width: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: @text-color-secondary;
      transition: color @animation-duration-slow;
      position: relative;
      cursor: pointer;

      &:hover {
        color: @icon-color-hover;
        text-decoration: none;
      }

      .anticon {
        font-size: 15px;
      }

      .fa-external-link {
        position: relative;
        top: 1px;
        font-size: 14px;
      }

      &:not(:first-child):before {
        content: "";
        position: absolute;
        width: 1px;
        height: 9px;
        left: 0;
        top: 9px;
        border-left: 1px dotted rgba(0, 0, 0, 0.12);
      }
    }
  }

  .help-drawer__body {
    flex: 1;
    min-height: 0;
    overflow: auto;
    padding: 0 16px 20px;
  }
}
